{set:$seo_data=array(); $site_config=new Config('site_config');$site_config=$site_config->getInfo();}   
{set:$seo_data['title']=isset($site_config['name'])?$site_config['name']:""}
{set:$seo_data['title']="用户注册_".$seo_data['title']}
{set:seo::set($seo_data);}

<div class="mid_986">
  <div style="position:relative">
      <div class="f_purple sub_cur_title"> 您当前的位置：<a href="{url:}">首页</a> &gt; <a href="{url:/simple/reg}">找回密码</a></div>
  </div>
  <div class="regist_bg1">
  <img src="{skin:images/txt_find_password.png}"/></div>
  <div class="regist_bg2">
    <div id='fp_form'>
      <div class="f_purple" style="padding:10px 30px 16px 30px;"><strong>请填写基本信息：</strong></div>
      <form>
      <table width="100%" border="0" cellspacing="0" cellpadding="6" class="f_purple form_table">
        
        <tbody>
          <tr>
            <td width="12%" height="50" align="right">用户名：</td>
            <td width="29%"><input type="text" name="username" id="username" class="ipt" value="{$this->username}" pattern="^[\w\u0391-\uFFE5]{2,20}$" alt="" /></td>
            <td width="59%" height="50">* （用户名为2~20位的英文和数字组成） </td>
          </tr>
          
          <tr>
            <td height="50" align="right">Email：</td>
            <td><input type="text" name="useremail" id="useremail" class="ipt" pattern="email" alt=""/></td>
            <td height="50">* （请填写正确的Email格式，便于之后找回密码）</td>
          </tr>
		  <tr><td align="right">验证码：</td><td align="left"><input id="captcha" class="gray_s" type="text" pattern='^\w{5,10}$' /></td><td></td></tr>
          <tr><td>&nbsp;</td><td align="left"><img src='{url:/simple/getCaptcha}' id='captchaImg' /><span class="light_gray">看不清？<a class="link" href="javascript:changeCaptcha('{url:/simple/getCaptcha}');">换一张</a></span></td><td>&nbsp;</td></tr>
          <tr>
            <td height="50" align="right">&nbsp;</td>
            <td align="center"><input type="image" src="{skin:images/btn_submit.png}" width="110" height="31" onclick="submit_passwordfind(this);"/></td>
            <td height="50">&nbsp;</td>
          </tr>
        </tbody>
        
      </table>
      </form>
      </div>
      <div id='fp_success' style="display:none;">
        <table width='100%' border='0' cellspacing='0' cellpadding='6' class='f_purple form_table'>
            <tr>
                <td>
                    <p><h2>您找回的密码已发送到邮箱，请去邮箱查收，并尽快修改密码！</h2></p>
                </td>
            </tr>
        </table>
      </div>
  </div>
    <div><img src="{skin:images/regist_3.png}" width="986" height="28" /></div>
</div>
<script language="javascript">
$().ready(
    function(){$(".form_table input:text").focus(function(){$(this).addClass('current');}).blur(function(){$(this).removeClass('current');}) ;}
);
function submit_passwordfind(obj)
{
    obj.disabled = true;
    var username=$("#username").val();
    var useremail=$("#useremail").val();
    var captcha=$("#captcha").val();
    if(username=="" || useremail=="" || captcha=="")
    {
        alert('请填写信息');
        obj.disabled = false;
        return;
    }

    var data={'username':username,'useremail':useremail,"captcha":captcha};
    $.get(
        "{url:/simple/do_find_password/}",
        data,
        function(c)
        {
            if(c=='success')
            {
                $("#fp_form").hide();
                $("#fp_success").show('fast');
            }
            else
            {
                alert(c);
                obj.disabled = false;
            }
        }
    );
}
</script>