	<!--{if !empty($jsmenu) && (empty($bbclosed) || $adminid == 1)}-->{template jsmenu}<!--{/if}-->
	<!--{if $admode && empty($insenz['hardadstatus']) && !empty($advlist)}-->
		<div class="ad_footerbanner" id="ad_footerbanner1">$advlist[footerbanner1]</div><div class="ad_footerbanner" id="ad_footerbanner2">$advlist[footerbanner2]</div><div class="ad_footerbanner" id="ad_footerbanner3">$advlist[footerbanner3]</div>
	<!--{else}-->
		<div id="ad_footerbanner1"></div><div id="ad_footerbanner2"></div><div id="ad_footerbanner3"></div>
	<!--{/if}-->
	<!-- Footer -->
	<div id="footer">
		<p id="footmenu">
			<a href="$supe[siteurl]" target="_self">$supe[sitename]</a> | 
			<a href="$supe[siteurl]/?action_site_type_panel" target="_self">{lang supe_cpanel}</a> | 
			<a href="$supe[siteurl]/?action_site_type_map" target="_self">{lang supe_sitemap}</a> | 
			<a href="$supe[siteurl]/?action_site_type_link" target="_self">{lang supe_friendlinks}</a> | 
			<a href="mailto:$adminemail" target="_self">{lang contactus}</a></p>
		<p id="copyright">
			
		</p>
	</div>
	<!-- /Footer -->
</div>
{eval output();}
</body></html>
