.error_content{width:950px; background-color:#fff; border-top:#fece00 solid 10px; float:right;}
.error {
width:350px;
height:200px;
margin:0 auto;
padding: 50px 0 100px;
}
.wrapper {
margin-bottom: 10px;
}
.pic{
back
}
.gray {
color: #4F4F4F;
}
.mt_10 {
margin-top: 10px;
margin-left:5px;

}

