


<div class="mid_986">
    <div style="position:relative">
      <div class="f_purple sub_cur_title"> 您当前的位置：<a href="{url:/}">首页</a> &gt; <a href="{url:/pcenter}">专家中心</a> &gt; <a href="{url:/pcenter/password}"> 修改密码</a> </div>
      <div class="sub_huan">
   <img src="{skin:images/huan.png}" width="106" height="92" />
   </div>
  </div>
  
  <div class="subpage_bor">
        <!-- 左边栏开始 -->
        <div class="subpage_left">
            <div><img src="{skin:images/baike_l_bg1.png}" /></div>
            <div class="subpage_left_bg">
                <div class="f_purple left_title f_size16B">- 专家中心 -</div>
            <ul class="left_menu">
                <li><a href="{url:/pcenter/info}">- 个人信息 -</a></li>
                <li><a href="{url:/pcenter/online_qa}">- 站内咨询 -</a></li>
                <li><a href="{url:/pcenter/password}">- 修改密码 -</a></li>
                
                <li><a href="{url:/pcenter/schedule}">- 值班时间 -</a></li>
                <li><a href="/bbs">- 会员社区 -</a></li>
            </ul>
            <div class="das_line left_line"></div>
            <div class="hezuo_div">
                <div class="hezuo_div_top"></div>
                <div class="hezuo_div_mid">
            <div class="left_hezuo_ti f_purple f_size16B">- 合作机构 -</div>
                <ul class="left_hezuo">
                    {query:name=operator_links limit=4 Order=order }
                    <li><a href="{$item['linkurl']}"><img src="{url:}{$item['photo']}" style="width:153px;height:44px;"/></a></li>
                    {/query}
                    </ul>
                    
             <div class="hezuo_more"><a class="purple" href="{url:/site/column/id/79}">【more】</a></div>    
                
                </div>
            <div class="hezuo_div_bot"></div>
            </div>
            </div>
            <div><img src="{skin:images/baike_l_bg3.png}"/></div>
        </div>
        <!-- 左边栏结束 -->
        <div class="subpage_right">
            <div><img src="{skin:images/baike_r_bg1.png}" /></div>
            <div class="subpage_right_bg">
                
                <div class="sub_div">
        <div class="clear_b">
                        <div class="float_l">
                          <div class="sub_right_ti">修改密码</div>
                        </div>
                        <div class="float_r solid_line"></div>
                
                </div>
                <div class="h_24"></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="6" class="f_purple">
                  <form action="{url:/pcenter/password_edit}" method='post' >
                    <tbody>

                      <tr>
                        <td width="27%" height="50" align="right">旧密码：</td>
                        <td width="37%"><input type="password" name="fpassword" id="fpassword" pattern='required' alt='' class="ipt"/></td>
                        <td width="36%" height="50">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="50" align="right"> 新密码：</td>
                        <td><input type="password" name="password" id="password" pattern='^\w{6,32}$' alt=''  class="ipt"/></td>
                        <td height="50">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="50" align="right">确认新密码：</td>
                        <td><input type="password" name="repassword" id="repassword" pattern='^\w{6,32}$' alt= ''  class="ipt"/></td>
                        <td height="50"><span class="f_red">两次输入的密码必须一致！</span></td>
                      </tr>
                      
                      <tr>
                        <td height="50" align="right">&nbsp;</td>
                        <td align="center" valign="middle"><input class="smt" type="submit" name="button" id="button" value="提交" /></td>
                        <td height="50">&nbsp;</td>
                      </tr>
                    </tbody>
                  </form>
                </table>
              </div>
            </div>
            <div><img src="{skin:images/baike_r_bg3.png}" /></div>
    </div>
    </div>
</div>
