<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>链接管理</span><span>></span><span>{if:isset($id)}编辑{else:}添加{/if}栏目链接</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action='{url:/tools/colum_link_edit_act}' method='post' name='link'>
			<table class="form_table">
				<col width="150px" />
				<col />
				<input type="hidden" name="id" value="" />
				<input type="hidden" name="column_id" value="" />
				<tr>
					<th>栏目名称：</th>
					<td>{$this->column['name']}</td>
				</tr>
				<tr>
					<th>链接地址：</th>
					<td><input type='text' name='linkurl' class='normal' value=''  pattern="required" alt="请填写栏目的链接地址" /><label>*链接地址（必填）</label></td>
				</tr>
				<tr>
					<td></td><td><button class='submit' type='submit'><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<script type='text/javascript'>
	var formObj = new Form('link');
	formObj.init({
		'id':'{$id}',
		'column_id':'{$column_id}',
		'linkurl':'{$linkurl}'
	});
</script>