<?php
$COLUMN_TYPE_CODE='102'; //栏目类型为页面的代码
?>
<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>页面管理</span><span>></span><span>页面列表</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/tools/column_edit/type/$COLUMN_TYPE_CODE}');"><button class="operating_btn" type="button"><span class="addition">添加页面</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="550px" />
			<col width="70px" />
			<col />
			<thead>
				<tr>
					<th>页面名称</th>
					<th>系统</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<table id="list_table" class="list_table">
		<col width="550px" />
		<col width="70px" />
		<col />
		<tbody>
		{query: name=column order=path}
			{if:(Column::inListTree($item['id'],$COLUMN_TYPE_CODE))}
			<tr id="{$item['id']}" parent={$item['parent_id']}>
				<td><img name="switch" style="margin-left:{echo:(substr_count($item['path'],',')-2)*2}0px" class="operator" src="{skin:images/admin/close.gif}" alt="关闭" />{$item['name']}</td>
				<td>{echo:($item['issys']==1) ? '是':'否'}</td>
				<td>
					<a href='{url:/tools/column_edit/id/}{$item['id']}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑页面属性" title="编辑页面属性" /></a>
					<a href='{url:/tools/page_edit/id/}{$item['id']}'><img class="operator" src="{skin:images/admin/icon_send.gif}" alt="编辑页面内容" title="编辑页面内容" /></a>
					<a href='javascript:void(0)' onclick="delModel({link:'{url:/tools/page_del/id/}{$item['id']}'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
				</td>
			</tr>
			{/if}
		{/query}
		</tbody>
	</table>
</div>
<script language="javascript">
$("img[name='switch']").each(function(i){
	$(this).toggle(function(){
		jqshow($(this).parent().parent().attr('id'), 'hide');
		$(this).attr("src", "{skin:images/admin/open.gif}");
	},function(){
		jqshow($(this).parent().parent().attr('id'), 'show');
		$(this).attr("src", "{skin:images/admin/close.gif}");
	});
});

function jqshow(id,isshow)
{
	var obj = $("#list_table tr[parent='"+id+"']");
	if (obj.length>0)
	{
		obj.each(function(i) {
			jqshow($(this).attr('id'), isshow);
		});
		if (isshow=='hide')
		{
			obj.hide();
		}
		else
		{
			obj.show();
		}
	}
}
</script>