{js:kindeditor}
{js:jquery}
<script type='text/javascript' src="{theme:javascript/swfupload.js}"></script>
<script type='text/javascript' src="{theme:javascript/swfupload.queue.js}"></script>
<script type="text/javascript" src="{theme:javascript/fileprogress.js}"></script>
<script type="text/javascript" src="{theme:javascript/handlers.js}"></script>
<script type="text/javascript" src="{theme:javascript/event.js}"></script>
<script type="text/javascript">
	var swfu;
	window.onload = function () {
		swfu = new SWFUpload({
			// Backend Settings
			upload_url: "{url:/block/img_upload}",
			post_params: {"PHPSESSID": "NONE"},

			file_size_limit : "2 MB",	// 2MB
			file_types : "*.jpg;*.jpge;*.png;*.gif",
			file_types_description : "JPG Images",
			file_upload_limit : "0",
			file_queue_error_handler : fileQueueError,
			file_dialog_complete_handler : fileDialogComplete,
			upload_progress_handler : uploadProgress,
			upload_error_handler : uploadError,
			upload_success_handler : uploadSuccess,
			upload_complete_handler : uploadComplete,

			// Button Settings
			button_placeholder_id : "upload",
			button_width: 50,
			button_height: 21,
			button_text : '浏览...',
			button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
			button_cursor: SWFUpload.CURSOR.HAND,

			// Flash Settings
			flash_url : "{theme:javascript/swfupload.swf}",

			custom_settings : {
				upload_target : "show"
			},
			// Debug Settings
			debug: false
		});
	};
	//显示图片链接
	function show_link(img)
	{
		art.dialog.open('{url:/block/goods_photo_link/?img=}'+img, {
			id:'goods_photo_link',
			width:'700px',
			height:'160px',
			lock: true,
		    title: '图片链接'
		});
	}
	//删除图片队列中的图片
	function del_img(id)
	{
		//删除数组元素.
		Array.prototype.remove=function(dx)
		{
		    if(isNaN(dx)||dx>this.length){return false;}
		    for(var i=0,n=0;i<this.length;i++)
		    {
		        if(this[i]!=this[dx])
		        {
		            this[n++]=this[i]
		        }
		    }
		    this.length-=1
		}
		//在数组中获取指定值的元素索引
		Array.prototype.getIndexByValue= function(value)
		{
		    var index = -1;
		    for (var i = 0; i < this.length; i++)
		    {
		        if (this[i] == value)
		        {
		            index = i;
		            break;
		        }
		    }
		    return index;
		}
		var photo_name = $('#photo_name').val();
		photo_name = photo_name.substring(0,photo_name.length-1);
		var arr = photo_name.split(',');
		var arr_name = img_name.split(',');
		var key = 0;
		for(var i=0;i<arr.length;i++){
			if(arr[i].indexOf(id)>0){
				key = i;
			}
		}
		arr.remove(key);
		arr_name.remove(key);
		if(arr.length>0)
		{
			//如果没有全部删除则不为空
			$('#photo_name').val(arr.join(',')+',')
			$("#a"+id).remove();
		}else{
			//如果图片全部删除则值为空
			$('#photo_name').val("");
			$('#focus_photo').val("");
			$("#a"+id).remove();
		}
	}
	//选中作为标题的图片
	function focus_img(little,obj)
	{
		$('#focus_photo').val(little);
		$("img[name='img_name']").removeClass('current');
		obj.className = 'current';
	}
</script>
<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>专题管理</span><span>></span><span>{if:isset($this->articleRow['id'])}编辑{else:}添加{/if}信息</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action='{url:/tools/special_topic_article_edit_act}' method='post' name='special_topic_info'>
			<table class="form_table">
				<col width="150px" />
				<col />
				<input type='hidden' name='id' value="" />
				<tr>
					<th>专题分类：</th>
					<td>
					  {echo:Special_Topic::showTopicCat('Topcat_name',$this->articleRow['topic_cat_id'],array('请选择分类'=>null))}
					  <label>*选择信息所属专题分类（必填）</label>
					</td>
				</tr>
   			    <tr>
					<th>文章标题：</th>
					<td><input type='text' name='title' class='normal'  value='' pattern='required' alt='标题不能为空' /></td>
				</tr>
				<tr>
					<th>标题字体：</th>
					<td>
						<label class='attr'><input type='radio' name='style' value='0' checked=checked />正常</label>
						<label class='attr'><input type='radio' name='style' value='1' /><b>粗体</b></label>
						<label class='attr'><input type='radio' name='style' value='2' /><span style="font-style:oblique;">斜体</span></label>
					</td>
				</tr>
				<tr>
					<th>标题颜色：</th>
					<td>
						<div class="color_sel">
							{set:$color = ($this->articleRow['color']===null) ? '#000000' : $this->articleRow['color']}
							<input type='hidden' name='color' value='' />
							<a class="color_current" style='color:{$color};background-color:{$color};' href='javascript:void(0)' onclick='showColorBox();' id='titleColor'>{$color}</a>
							<div id='colorBox' class="color_box" style='display:none'></div>
						</div>
					</td>
				</tr>
				<tr><input type="hidden" name="photo_name" id="photo_name" value="{$this->articleRow['img']}"/>
				<input type="hidden" name="focus_photo" id="focus_photo" value="{$this->articleRow['img']}"/>
					<th>标题图片：</th>
					<td><input class="middle" name="" type="text" /><div class="upload_btn"><span id="upload"></span></div></td>		
				</tr>
				<tr>
					<td></td>
					<td id="show"></td>
				</tr>
				<tr>
					<td></td>
					<td id="show_list">
					{if:isset($this->articleRow['id'])}
					    {set:$config = new Config("site_config");$site_config = $config->getInfo();}
						{set:$url = $this->articleRow['img'];}
						{if:!empty($url)}
						{set:$url_id = substr($url,0,strpos($url,'.'));$url_id = substr(strrchr($url_id,'/'),1);}
						{set:$urlname=explode(".",$url);}
							<span id="a{$url_id}" class="pic">
								<img name="img_name" class="current" style="margin: 5px; opacity: 1;" src="{echo:IUrl::creatUrl().$urlname[0].'_'.$site_config['show_thumb_width'].'_'.$site_config['show_thumb_height'].'.'.$urlname[1]}" onclick="focus_img('{$url}',this)">
								<br>
								<a href="javascript:;" style="padding-right:1em" onclick="show_link('{$url}')">链接</a>
								<a id="{$url_id}" href="javascript:;" onclick="del_img(this.id)">删除</a>
							</span>
						{/if}
					{/if}
					</td>
				</tr>
				<tr>
					<th valign="top">内容：</th><td><textarea name='content' style='width:600px;height:300px' pattern='required' alt='内容不能为空'>{$this->articleRow['content']}</textarea></td>
				</tr>
				<tr>
					<th>排序：</th><td><input type='text' class='small' name='sort' value='' /></td>
				</tr>
				<tr>
					<th>关键字：</th><td><input type='text' class='normal' name='keywords' value='' /></td>
				</tr>
				<tr>
					<th></th><td><button class='submit' type='submit'><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script type='text/javascript'>
	var FromObj = new Form('special_topic_info');
	FromObj.init
	({
		'id':'{$this->articleRow['id']}',
		'Topcat_name':'{$this->articleRow['topic_cat_id']}',
		'title':'{$this->articleRow['title']}',
		'sort':'{echo:$this->articleRow['sort']?$this->articleRow['sort']:99}',
		'style':'{$this->articleRow['style']}',
		'color':'{$color}',
		'keywords':'{$this->articleRow['keywords']}',
	});
	//装载编辑器
	KE.show({
		id : 'content',
		imageUploadJson:'{url:/block/upload_img_from_editor}',
		fileManagerJson:'../../php/file_manager_json.php',
		allowFileManager : true
	});
	jQuery(function(){
		//调色板颜色
		var colorBox = new Array('#000','#930','#330','#030','#036','#930','#000080','#339','#333','#800000','#f60','#808000','#808080','#008080','#00f','#669','#f00','#f90','#9c0','#396','#3cc','#36f','#800080','#999','#f0f','#fc0','#ff0','#0f0','#0ff','#0cf','#936','#c0c0c0','#f9c','#fc9','#ff9','#cfc','#cff','#9cf','#c9f','#fff');
		for(color in colorBox)
		{
			var aHTML = '<a href="javascript:void(0)" onclick="changeColor(this);" style="background-color:'+colorBox[color]+';color:'+colorBox[color]+'">'+colorBox[color]+'</a> ';
			$('#colorBox').html($('#colorBox').html() + aHTML);
		}
	});
	//弹出调色板
	function showColorBox()
	{
		var layer = document.createElement('div');
		layer.className = "poplayer";
		$(document.body).append(layer);
		var poplay = $('#colorBox');
		$('.poplayer').bind("click",function(){if(poplay.css('display')=='block') poplay.fadeOut();$("div").remove('.poplayer');})
		poplay.fadeIn();
	}
	//选择颜色
	function changeColor(obj)
	{
		var color = $(obj).html();
		$('#titleColor').css({color:color,'background-color':color});
		$('input:hidden:[name="color"]').val(color);
		$('#colorBox').fadeOut();
		$("div").remove('.poplayer');
	}
</script>
