<!-- 2011-12-07 Qiulin  -->
<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>视频管理</span><span>></span><span>视频列表</span></div>
	<div class="operating">
	<a href="javascript:void(0)" onclick="event_link('{url:/tools/upload_video}')"><button class="operating_btn" type="button"><span class="addition">添加视频</span></button></a>
		<!-- <a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a> -->
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col width="200px" />

			<col width="300px" />
			<col width="70px" />


			<col />
			<thead>
				<tr>
					<th>选择</th>
					<th>标题</th>

					<th>链接</th>
					<th>排序</th>

					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form name='ad' method='post' action='{url:/tools/video_list}'>
		<table id="list_table" class="list_table">
			<col width="40px" />
			<col width="200px" />

			<col width="300px" />
			<col width="70px" />


			<col />
			<tbody>
				{query: name=upload_videos order=sort asc}
				<tr>
					<td><input type='checkbox' name='id[]' value="{$item['id']}" /></td>
					<td>{$item['title']}</td>

					<td>{$item['path']}</td>
					<td>{$item['sort']}</td>


					<td>
						<a href='{url:/tools/upload_video/id/}{$item['id']}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑" title="编辑" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/tools/video_del/id/}{$item['id']}'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>

					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>