<div class="subpage_right">
	<div><img src="{skin:images/baike_r_bg1.png}" /></div>
	<div class="subpage_right_bg">
		
		<div class="sub_div">
		<div class="clear_b">
				<div class="float_l"><div class="sub_right_ti">{$this->column['name']}</div>
				</div>
				<div class="float_r solid_line"></div>
		
		</div>
		 <div class="h_24"></div>
		 		 <div style="color: #A1336D;font-size: 12px;">{$this->showdata['content']}</div>
		 </div>

	</div>
	<div><img src="{skin:images/baike_r_bg3.png}" /></div>
</div>