{set:$user = $this->user;}
<script>
function check_id(pid)
{
	var use_id = document.getElementById("u_id").value;
	if(use_id == '')
		window.location.href="{url:/simple/login?callback=/index.php/ucenter/online_qa/pid}/"+pid;
	else
		window.location.href="{url:/ucenter/online_qa/pid/}"+pid;
}
</script>
 <div class="subpage_right">
 <input id="u_id" type="hidden" value="{$user['user_id']}" />
            <div><img src="{skin:images/baike_r_bg1.png}" /></div>
            <div class="subpage_right_bg">
                
            <div class="sub_div">
            <div class="clear_b">
                        <div class="float_l"><div class="sub_right_ti">{$this->column['name']}</div>
                        </div>
                        <div class="float_r solid_line"></div>
                
            </div>
                <div class="h_24"></div>
                <ul class="specialist">
                {foreach:items=$this->proRow}
					<li style="background-color:#fdeded">
                    	<div style="zoom:1; overflow:hidden;">
                            <div class="speci_li_l">
                                <div class="speci_pic"><img src="{url:}{$item['head_ico']}" alt="" width="108" height="140" /></div>
                          </div>
                          
                            <div class="speci_li_r">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="f_pink">
                                  <tr>
                                    <td width="80" valign="top"><strong>专家姓名：</strong></td>
                                    <td valign="top">{$item['name']}</td>
                                  </tr>
                                  <tr>
                                    <td valign="top"><strong>技术职称：</strong></td>
                                    <td valign="top">{$item['position']}</td>
                                  </tr>
                                  
                                  <tr>
                                    <td valign="top"><strong>服务地点：</strong></td>
                                    <td valign="top">{$item['work_place']} </td>
                                  </tr>
                                  <tr>
                                    <td height="40" colspan="2" valign="bottom"><button class="consulting1"  onclick="check_id({$item['id']})" style="margin-left:30px;border:0px;">站内咨询</button></td>
                                  </tr>
                                </table>
                          </div>
                      	</div>
                      	<div  class="f_purple" style="margin:0px 20px">
                        <p><strong>基本介绍：</strong></p>
                        {set:$intr=iconv_substr(strip_tags($item['introduce']),0,100,'utf-8')."..."; }
                        <p >{$intr}<a href="{url:/site/column/id/}{$this->c_id}/prof_id/{$item['id']}" class="f_pink">[详细]</a></p>
                        </div>
				  </li>
				  {/foreach}
				</ul>
				
				
				<div class="clear_b"></div>
				{$this->query->front_getPageBar()}
                </div>
          </div>
          <div><img src="{skin:images/baike_r_bg3.png}" /></div>
</div>