<div class="headbar">
	<div class="position"><span>信息</span><span>></span><span>预定报名信息</span><span>></span><span>查看预定信息</span></div>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action='{url:/message/online_yuding_edit_act}' method='post' name='message'>
			<table class="form_table">
				<col width="150px" />
				<col />
				<input type='hidden' name='id' value="{$this->showdata['id']}" />
				<tr>
					<th>预定服务：</th>
					<td>	
						<label name="activity_name" >{$this->showdata['service_name']}</label>
					</td>
				</tr>
				<tr>
					<th>姓名：</th>
					<td><label name="user_name" >{$this->showdata['name']}</label></td>
				</tr>
				<tr>
					<th>孕周：</th>
					<td><label name="yun_zhou" >{$this->showdata['yun_zhou']}周</label></td>
				</tr>
				<tr>
					<th>邮箱：</th>
					<td><label name="email" >{$this->showdata['email']}</label></td>
				</tr>
				<tr>
					<th>状态：</th>
					<td>
					{if:$this->showdata['state']=='1'}
						<label class='attr'><input type='radio' name='style' value='0' />预定中</label>
						<label class='attr'><input type='radio' name='style' value='1' checked=checked />确认预定</label>
						<label class='attr'><input type='radio' name='style' value='2' />取消预定</label>
					{elseif:$this->showdata['state']=='2'}
						<label class='attr'><input type='radio' name='style' value='0' />预定中</label>
						<label class='attr'><input type='radio' name='style' value='1'  />确认预定</label>
						<label class='attr'><input type='radio' name='style' value='2' checked=checked/>取消预定</label>
					{else:}
						<label class='attr'><input type='radio' name='style' value='0' checked=checked />报预定中</label>
						<label class='attr'><input type='radio' name='style' value='1'  />确认预定</label>
						<label class='attr'><input type='radio' name='style' value='2' />取消预定</label>
					{/if}
					</td>
				</tr>
				<tr>
					<th>联系电话：</th>
					<td><label name="phone" >{$this->showdata['phone']}</label></td>
				</tr>
				<tr>
					<th></th><td><button class='submit' type='submit'><span>确 定</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

