	<!--{if !empty($jsmenu) && (empty($bbclosed) || $adminid == 1)}-->{template jsmenu}<!--{/if}-->
	<!--{if $admode && empty($insenz['hardadstatus']) && !empty($advlist)}-->
		<div class="ad_footerbanner" id="ad_footerbanner1">$advlist[footerbanner1]</div><div class="ad_footerbanner" id="ad_footerbanner2">$advlist[footerbanner2]</div><div class="ad_footerbanner" id="ad_footerbanner3">$advlist[footerbanner3]</div>
	<!--{else}-->
		<div id="ad_footerbanner1"></div><div id="ad_footerbanner2"></div><div id="ad_footerbanner3"></div>
	<!--{/if}-->
</div>
<div id="footer">
	<div class="wrap">
		<div id="footlinks">
			<p>{lang time_now}<!--{if $icp}--> <a href="http://www.miibeian.gov.cn/" target="_blank">$icp</a><!--{/if}--></p>
			<p>
				<a href="member.php?action=clearcookies&amp;formhash={FORMHASH}">{lang clear_cookies}</a>
				- <span class="scrolltop" onclick="window.scrollTo(0,0);">TOP</span>
				<!--{if !empty($stylejumpstatus)}-->
					- <span id="styleswitcher" class="dropmenu" onmouseover="showMenu(this.id)">{lang style}</span>
					<script type="text/javascript">
					function setstyle(styleid) {
					<!--{if CURSCRIPT == 'forumdisplay'}-->
						location.href = 'forumdisplay.php?fid=$fid&page=$page&styleid=' + styleid;
					<!--{elseif CURSCRIPT == 'viewthread'}-->
						location.href = 'viewthread.php?tid=$tid&page=$page&styleid=' + styleid;
					<!--{else}-->
						location.href = '$indexname?styleid=' + styleid;
					<!--{/if}-->
					}
					</script>
					
				<!--{/if}-->
			</p>
		</div>

		
		{eval updatesession();}
		
	</div>
</div>
<!--{if $_DCACHE['settings']['frameon'] && in_array(CURSCRIPT, array('index', 'forumdisplay', 'viewthread')) && $_DCOOKIE['frameon'] == 'yes'}-->
	<script type="text/javascript" src="include/javascript/iframe.js"></script>
<!--{/if}-->
{eval output();}
</body>
</html>